.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.title{
  text-align: center;
}
.controls{
  width: 40vw;
}
.controls label{
  display: inline-block;
  font-size: 17px;
}
.controls input{
  margin: 30px 0px;
}
.box{
  padding: 12vh 10px;
  width: 40vw;
  height: 40vh;
  background-color: #2AB7A9;
  color: #fff;
}
.box p{
  font-size: 20px;
}
.btn-copy{
  background-color: blueviolet;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px 23px;
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
  
}

@media(max-width:550px){
  .title{
    font-size: 20px;
  }
  .controls{
    width: 90vw;
    height: 60vh;
    margin: 0px 0px;
  }
  .controls input{
    margin: 10px 0px;
  }
  .box{
    width: 90vw;
    height: 200px;
    padding: 40px 10px;
    /* margin: 10px 0px; */
  }
  .btn-copy{
    margin-bottom: 10px;
  }
}